/******************************************
/* BASE STYLES
/*******************************************/
html {
   font-size: 62.5%;
}

body {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
   text-shadow: 5px 5px black;
   background: url(/img/background.jpg);
   background-size: 100%;
   text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
   font-size: 9em;
}

h2 {
   font-size: 6em;
   margin-top: 0;
   margin-bottom: 3rem;
}

h3 {
   font-size: 5em;
}

span, p, table {
   font-size: 5em;
   margin-top: 0;
}

.primary-color {
   color: #a46ece;
}

.secondary-color {
   color: #ecdf45;
}

span {
   display: block;
}

.flex {
   display: flex;
   justify-content: center;
   gap: 15em;
}

table {
   margin: 0 auto 2rem auto;
}